.title{
    text-align:center;
    border:solid 2px red;
    height:50px;
}

.workspace{
    display: flex;
    border:solid 5px orange;
    height:600px;
}

.tools{
    border:dashed 2px red;
    width:10%;
}

.tool-row{
    display: flex;
    height:10%;
}

.tool-path{
    height:10%;
}

.tool{
    text-align: center;
    border:solid 1px green;
    width:50%;
}

/* https://into-the-program.com/customize-input-type-file/ */
label{
    padding: 0px 0px;
    color: white;
    /* background-color: #384878; */
    cursor: pointer;
}

input[type='file']{
    display:none;
}

#mapFile{
    background-color:blue;
}


.map{
    border: dashed 3px blue;
    width:80%;
}

.canvas-space{
    position: relative;
    /* border:dashed 3px red; */
    /* width:500px; */
}


#canvasMap{
    position:absolute;
    /* top:100px; */
    /* left:200px; */
    /* margin-left: 200; */
    border: solid 3px blue;
}

#canvasPaint{
    position:absolute;
    /* padding:100; */
    /* margin-left: 500; */
    border: solid 2px green;
}



.photos{
    border: dashed 2px green;
    width:20%;
}

.photo-row{
    border: dashed 1px black;
    display: flex;
    height:20%;
}

.photo-icon{
    width:30%;
}

.photo{
    width:70%;
}

.memo-space{
    display: flex;
    border: solid 3px pink;
    height:200px;
}

.memos{
    border: dashed 2px red;
    width:50%;
}

.memo-title{
    text-align: center;
    border: dashed 2px blue;
    height:20%;
}

.memo{
    height: 80%;
}


/* kokomade */

.panint-space{
    display: flex;
    border:solid 2px red;
}

#page-title{
    font-size: 20px;
    background-color:#69c;
    color:white;
    padding:10px;
}

.canvas-wrap{
    position: relative;
    border:dashed 3px red;
    width:500px;
}


#canvas01{
    /* position:absolute; */
    /* top:100px; */
    /* left:200px; */
    /* margin-left: 200; */
    border: dashed 3px blue;
}

#canvas02{
    /* position:absolute; */
    /* padding:100; */
    /* margin-left: 500; */
    border: solid 2px green;
}

#canvas03{
    position: relative;
    border: solid 3px yellow;
    top: 600px;
}

.buttons{
    position: relative;
    top: 600px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    display:inline-block;
    background: #69c;
    color: #fff;
    padding:5px 10px;
    border-radius: 100px;
}

.pen-tools{
    /* display:flex; */
    width:300px;
    /* margin: auto; */
    border: solid 2px green;
}

.fa-refresh{
    margin-left: 10px;
    background-color: red;
    padding: 5px 10px;
    border-radius: 100px;
    color: white;
    cursor: pointer;
}

.pen-size{
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

/* .favContainer{
    border:1px solid red;
    margin-left:0px;
}
 */

.drawing-colors{
    /* display:flex; */
    margin-right: 15px;
}

.color-circle{
    height:20px;
    width:20px;
    border: 1px solid black;
    border-radius:50%;
    margin-bottom: 7px;
    cursor: pointer;
}


.color-circle:nth-child(1){
    background-color: hotpink;
}
.color-circle:nth-child(2){
    background-color: red;
}
.color-circle:nth-child(3){
    background-color: black;
}
.color-circle:nth-child(4){
    background-color: green;
}

.active{
    transform:scale(1.3);
}